* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #253C59;
}

header .contenedor-header {
  background-color: #2D4B73;
  color: #BF8D30;
}
header .contenedor-header .logo img {
  width: 360px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
header .contenedor-header .logo img .boton-nav {
  margin: 5px;
  background-color: #99B4BF;
  color: #BF8D30;
}
header .contenedor-header .logo img .boton-nav:hover {
  background-color: #99B4BF;
  color: #D9B70D;
  box-shadow: 0px 0px 10px 0px rgba(255, 251, 251, 0.5);
}
header .contenedor-header .logo div .sub-sub-navegador {
  color: #BF8D30;
}
header .contenedor-header .logo div .sub-sub-navegador li .color-letra {
  color: #BF8D30;
}
header .contenedor-header .logo div .sub-sub-navegador li .color-letra:hover {
  background-color: #99B4BF;
  color: #D9B70D;
  text-shadow: 2px 2px 4px #000;
  box-shadow: 0px 0px 10px 0px rgba(255, 251, 251, 0.5);
}

footer {
  background-color: #2D4B73;
  margin: 50px 0 0 0;
  padding: 20px 0 10px 0;
  text-align: center;
  width: 100%;
  display: grid;
}
footer .pieDePagina {
  font-size: 20px;
  text-align: center;
  color: #BF8D30;
}
footer .pieDePagina:hover {
  color: whitesmoke;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
footer section .btn .botonEmail {
  align-items: center;
  color: #BF8D30;
  padding: 10px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
footer section .btn .botonEmail:hover {
  background-color: #D9D9D9;
  color: #BF8D30;
  transform: scale(1.1);
  display: flex;
  flex-direction: row;
}
footer .redes a ion-icon {
  color: #fff;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 42px;
  margin: 20px 10px;
  font-size: 20px;
  transition: 0.3s;
}
footer .redes a ion-icon:hover {
  color: #BF8D30;
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s;
}

main .index-main {
  justify-content: center;
}
main .index-main .contenedor-banner {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #99B4BF;
  text-align: center;
  border-radius: 40px;
  border: 5px solid;
}
main .index-main .contenedor-banner img {
  width: 50%;
  height: 75%;
  align-content: center;
  margin: 0 90px;
  border: 10px solid #2D4B73;
  display: flex;
  border-radius: 100%;
}
main .index-main .contenedor-banner h1 {
  color: #BF8D30;
  margin-top: 15px;
  font-size: 27px;
  text-shadow: 2px 2px 4px #000;
}
main .index-main .contenedor-banner h2 {
  font-size: 20px;
  margin: 15px;
  color: #BF8D30;
  text-shadow: 2px 2px 4px #000;
}
main .index-main .contenedor-banner .redes a {
  color: whitesmoke;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin: 30px 15px;
  font-size: 60px;
  transition: 0.3s;
}
main .index-main .contenedor-banner .redes a:hover {
  color: #BF8D30;
  box-shadow: 0px 0px 0px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
main .sobremi {
  background-color: #99B4BF;
  color: #BF8D30;
  text-shadow: 2px 2px 4px #000;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
}
main .sobremi .contenedor-section {
  max-width: 1500px;
  margin: auto;
}
main .sobremi .contenedor-section h2 {
  font-size: 45px;
  text-align: center;
  padding: 20px 0;
}
main .sobremi .contenedor-section p {
  color: #D9B70D;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 30px;
}
main .sobremi .contenedor-section p span {
  margin: 0 5px;
  color: #D9B70D;
  font-weight: bold;
}
main .sobremi button {
  cursor: pointer;
  background-color: #2D4B73;
  border: 3px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 17px;
  color: #BF8D30;
  position: relative;
  z-index: 10;
}
main .sobremi button:hover {
  background-color: #D9B70D;
  color: rgb(0, 0, 0);
  border: 3px solid #000000;
  box-shadow: 0px 0px 0px 0px;
  cursor: pointer;
  transition: all 0.3s;
}

.contenedor-contacto {
  margin-left: auto;
  margin-right: auto;
}
.contenedor-contacto div .contacto-titulo h1 {
  color: #BF8D30;
  margin: 100px 0 0 0;
  text-align: center;
}
.contenedor-contacto .contacto-wrapper {
  background-color: #99B4BF;
  margin: 50px 40px;
  box-shadow: 0 0 20px 0 rgba(238, 232, 232, 0.3);
  display: flex;
  flex-direction: column;
}
.contenedor-contacto .contacto-wrapper > * {
  padding: 1em;
}
.contenedor-contacto .contacto-wrapper .contacto-form h3 {
  color: #BF8D30;
  margin: 30px;
  gap: 20px;
}
.contenedor-contacto .contacto-wrapper .contacto-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}
.contenedor-contacto .contacto-wrapper .contacto-form form label {
  display: block;
}
.contenedor-contacto .contacto-wrapper .contacto-form form p {
  margin: 0;
  padding: 1em;
}
.contenedor-contacto .contacto-wrapper .contacto-form form .block {
  grid-column: 1/3;
}
.contenedor-contacto .contacto-wrapper .contacto-form form button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #253C59;
  border-bottom: 1px solid #253C59;
  background: #253C59;
  color: #BF8D30;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contenedor-contacto .contacto-wrapper .contacto-form form button:hover {
  background: #BF8D30;
  color: #2D4B73;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contenedor-contacto .contacto-wrapper .contacto-form form button:focus {
  background: #BF8D30;
  color: #2D4B73;
  transition: background-color 1s ease-out;
  outline: 0;
}
.contenedor-contacto .contacto-wrapper .contacto-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #253C59;
  border-bottom: 1px solid #253C59;
}
.contenedor-contacto .contacto-wrapper .contacto-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #253C59;
  border-bottom: 1px solid #253C59;
}
.contenedor-contacto .contacto-wrapper .contacto-info {
  background: #D9B70D;
  color: #99B4BF;
  font-size: 25px;
}
.contenedor-contacto .contacto-wrapper .contacto-info h4 {
  color: #253C59;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.contenedor-contacto .contacto-wrapper .contacto-info ul {
  color: #2D4B73;
  list-style: none;
  font-size: 22px;
  padding: 0;
  margin: 0 0 280px 0px;
  text-shadow: 2px 2px 4px #000;
}
.contenedor-contacto .contacto-wrapper .contacto-info ion-icon {
  margin: 0 20px 0 0;
}
.contenedor-contacto .contacto-wrapper .contacto-info p {
  margin: 20px;
  font-size: 20px;
  color: #2D4B73;
  text-shadow: 2px 2px 4px #000;
}

.educacion-contenedor {
  display: flex;
  flex-direction: column;
}
.educacion-contenedor h2 {
  color: #BF8D30;
  font-size: 2.5rem;
  margin: 2rem 0 0 0;
  padding: 2rem 0;
  text-align: center;
}
.educacion-contenedor .educacion-card-contenedor .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .educacion-contenedor .educacion-card-contenedor .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 {
  background-color: #99B4BF;
  border-radius: 1.5rem;
  min-height: 15rem;
  margin: 1rem;
  padding: 1.5rem 2rem;
  align-content: center;
  transition: transform 0.3s;
}
.educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 img {
  display: flex;
  justify-items: center;
  height: 15rem;
  width: 16.5rem;
  border-radius: 0.5rem;
}
.educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 h3 {
  color: #BF8D30;
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
  font-size: 1.875rem;
  text-align: center;
  margin: 0.625rem;
}
.educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 h4 {
  color: #D9B70D;
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
  font-size: 1.5625rem;
}
.educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 p {
  color: #D9B70D;
  margin-top: 0.5rem;
  font-size: 1.875rem;
  text-align: end;
  text-shadow: 0.125rem 0.125rem 0.25rem #000;
}

.proyecto-contenedor {
  width: auto;
  height: auto;
}
.proyecto-contenedor h2 {
  color: #BF8D30;
  font-size: 30px;
  margin: 30px 0 10px 0;
  padding: 20px 0;
  text-align: center;
}
.proyecto-contenedor .proyecto-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
}
.proyecto-contenedor .proyecto-card .card-proyecto2 {
  background-color: #99B4BF;
  color: #BF8D30;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-height: 15rem;
  margin: 70px;
}
.proyecto-contenedor .proyecto-card .card-proyecto2:hover {
  background-color: #BF8D30;
  color: #99B4BF;
  transform: scale(1.05);
  transition: all 0.3s;
}
.proyecto-contenedor .proyecto-card .card-proyecto2 img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.proyecto-contenedor .proyecto-card .card-proyecto2 .card-title {
  color: #BF8D30;
  text-shadow: 2px 2px 4px #000;
  font-size: 20px;
}
.proyecto-contenedor .proyecto-card .card-proyecto2 .card-text {
  color: #D9B70D;
  text-shadow: 2px 2px 4px #000;
  font-size: 14px;
}
.proyecto-contenedor .proyecto-card .card-proyecto2 a ion-icon {
  color: #BF8D30;
  text-shadow: 2px 2px 4px #000;
  list-style: none;
  width: 60px;
  height: 40px;
  margin: 10px;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.proyecto-contenedor .proyecto-card .card-proyecto2 a ion-icon:hover {
  background-color: #BF8D30;
  color: #253C59;
  transform: scale(1.1);
  transition: all 0.3s;
}

.skill-contenedor {
  width: auto;
  height: auto;
}
.skill-contenedor h2 {
  color: #BF8D30;
  text-align: center;
  margin: 50px 0 20px 0;
}
.skill-contenedor .skill-secundaria {
  display: flex;
  flex-direction: column;
}
.skill-contenedor .skill-secundaria .skill-card {
  background-color: #99B4BF;
  color: #BF8D30;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.skill-contenedor .skill-secundaria .skill-card:hover {
  background-color: #BF8D30;
  color: #253C59;
  translate: scale(1.1);
}
.skill-contenedor .skill-secundaria .skill-card article {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

@media (min-width: 600px) {
  header nav div button {
    font-size: 1.5rem;
    background-color: #99B4BF;
    color: #BF8D30;
  }
  .index-main .contenedor-banner {
    margin: 100px 150px 20px;
    padding: 20px;
    width: 80%;
    height: auto;
  }
  .index-main .contenedor-banner div img {
    margin-top: 20px;
    border: 5px solid #2D4B73;
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 50%;
  }
  .index-main .contenedor-banner h1 {
    color: #BF8D30;
    margin-top: 15px;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #000;
  }
  .index-main .contenedor-banner h2 {
    font-size: 1.8rem;
    margin: 20px;
    color: #BF8D30;
    text-shadow: 1px 1px 2px #000;
  }
  .index-main .contenedor-banner .redes a {
    color: whitesmoke;
    text-decoration: none;
    width: 40px;
    height: 40px;
  }
  .sobremi .contenedor-section div p {
    font-size: 1.5rem;
    text-align: center;
  }
  .sobremi .contenedor-section .fila .col {
    margin: 20px;
    font-size: 1.5rem;
  }
  .sobremi .contenedor-section .fila .col .contenedor-intereses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .proyecto-contenedor h2 {
    font-size: 36px;
    margin: 40px 0 20px 0;
    padding: 30px 0;
  }
  .proyecto-contenedor .proyecto-card {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 20px;
  }
  .proyecto-contenedor .proyecto-card .card-proyecto2 {
    margin: 30px;
  }
  .proyecto-contenedor .proyecto-card .card-proyecto2 img {
    height: 250px;
  }
  .proyecto-contenedor .proyecto-card .card-proyecto2 .card-title {
    font-size: 24px;
  }
  .proyecto-contenedor .proyecto-card .card-proyecto2 .card-text {
    font-size: 16px;
  }
  .proyecto-contenedor .proyecto-card .card-proyecto2 a ion-icon {
    width: 70px;
    height: 50px;
    font-size: 50px;
  }
}
@media (min-width: 600px) {
  .skill-contenedor {
    width: auto;
    height: auto;
  }
  .skill-contenedor h2 {
    margin: 100px 40px 0 0;
    font-size: 2.5rem;
  }
  .skill-contenedor .skill-secundaria {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .skill-contenedor .skill-secundaria .skill-card {
    padding: 10px;
  }
  .skill-contenedor .skill-secundaria .skill-card article {
    padding: 0 10px;
    font-size: 2rem;
  }
  .educacion-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .educacion-contenedor h2 {
    color: #BF8D30;
    margin: 20px;
    font-size: 2rem;
    text-align: center;
    padding: 30px 0;
  }
  .educacion-contenedor .educacion-card-contenedor .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .educacion-contenedor .educacion-card-contenedor .row .educacion-card {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 20px;
  }
  .educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 {
    background-color: #99B4BF;
    border-radius: 24px;
    min-height: 15rem;
    padding: 20px 35px;
    align-items: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
  }
  .educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 img {
    width: 220px;
    height: auto;
    border-radius: 5px;
  }
  .educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 h3 {
    color: #BF8D30;
    text-shadow: 2px 2px 4px #000;
    font-size: 30px;
    text-align: center;
    margin: 10px;
  }
  .educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 h4 {
    color: #D9B70D;
    text-shadow: 2px 2px 4px #000;
    font-size: 25px;
  }
  .educacion-contenedor .educacion-card-contenedor .row .educacion-card .educacion-card2 p {
    color: #D9B70D;
    margin-top: 0.5rem;
    font-size: 30px;
    text-align: end;
    text-shadow: 2px 2px 4px #000;
  }
  .contenedeor-contacto h1 {
    margin: 40px 0 25px 0;
    font-size: 2rem;
  }
  footer {
    margin: 100px 0 0 0;
  }
  footer .pieDePagina {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  main {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main .index-main {
    width: 80%;
    height: 80%;
    margin: 20px;
  }
  main .index-main .contenedor-banner {
    margin: 50px 260px 30px 60px;
    width: 80%;
    height: 730px;
    text-align: center;
  }
  main .index-main .contenedor-banner .contenedor-img img {
    margin-top: 40px;
    border: 10px solid #2D4B73;
    display: block;
    width: 75%;
    height: 350px;
    margin: auto;
    border-radius: 100%;
  }
  main .index-main .contenedor-banner h1 {
    color: #BF8D30;
    font-size: 45px;
    text-shadow: 2px 2px 4px #000;
  }
  main .index-main .contenedor-banner h2 {
    font-size: 30px;
    margin: 25px;
    color: #BF8D30;
    text-shadow: 2px 2px 4px #000;
  }
  main .index-main .contenedor-banner .redes a {
    color: whitesmoke;
    text-decoration: none;
    width: 50px;
    height: 50px;
  }
  .sobremi {
    margin: 15px;
    display: flex;
    flex-direction: row;
  }
  .sobremi .contenedor-section div {
    margin: 0 0 150px 0;
  }
  .sobremi .contenedor-section div p {
    margin: 40px;
    text-align: center;
    letter-spacing: 2px;
  }
  .sobremi .contenedor-section .fila {
    margin: 30px;
  }
  .sobremi .contenedor-section .fila .col h3 {
    margin: 20px;
    font-size: 25px;
  }
  .sobremi .contenedor-section .fila .col .contenedor-intereses .interes {
    margin: 30px;
  }
}
.proyecto-contenedor div div h2 {
  text-align: center;
}
.proyecto-contenedor div .proyecto-card {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
}
.proyecto-contenedor div .proyecto-card .card-proyecto2 {
  width: 300px; /* Ancho deseado */
  height: 800px; /* Alto deseado */
  padding: 20px; /* Espacio interior */
  text-align: center;
}
.proyecto-contenedor div .proyecto-card .card-proyecto2 img {
  height: 200px;
  width: 240px;
  margin: 10px 3px;
  align-items: center;
  border-radius: 10px;
}
.proyecto-contenedor div .proyecto-card .card-proyecto2 .card-body .card-title {
  font-size: 30px;
}
.proyecto-contenedor div .proyecto-card .card-proyecto2 .card-body .card-text {
  font-size: 20px;
}
.proyecto-contenedor div .proyecto-card .card-proyecto2 .card-body ion-icon {
  width: 60px;
  height: 60px;
  margin: 25px 25px 0 15px;
}

.skill-contenedor {
  margin: auto;
}
.skill-contenedor div .skill-secundaria {
  margin: 50px 350px 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}
.skill-contenedor div .skill-secundaria .skill-card article p {
  font-size: 25px;
}

main .educacion-contenedor h2 {
  margin: 0 0 0 550px;
}
main .educacion-contenedor .educacion-card-contenedor .row {
  margin: 30px;
}
main .educacion-contenedor .educacion-card-contenedor .row .educacion-card {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.contenedor-contacto div .contacto-titulo h1 {
  margin: 100px 0 0 0;
}
.contenedor-contacto .contacto-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer {
  margin: 50px 0 0 0;
}
footer .pieDePagina {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
