// Import de Variables
@import "../utilidades/variables";
// Import de Mixin
@import "../utilidades/mixin";

// Estilos de Educación

.educacion-contenedor {
    @include flexEducacion;

    h2 {
        color: $texto-color;
        font-size: 2.5rem; // Cambiado de 40px a rem
        margin: 2rem 0 0 0; // Cambiado de 30px a rem
        padding: 2rem 0; // Cambiado de 30px a rem
        text-align: center;
    }

    .educacion-card-contenedor {
        .row {
            display: flex; // Para alinear las tarjetas en fila
            flex-direction: column; // Por defecto en columnas (mobile-first)
            align-items: center; // Centra las tarjetas en la columna

            @media (min-width: 768px) { // A partir de un ancho de 768px
                flex-direction: row; // Cambia a filas en pantallas más grandes
                flex-wrap: wrap; // Permite que las tarjetas se ajusten
                justify-content: center; // Centra el contenido
            }

            .educacion-card {
                .educacion-card2 {
                    background-color: $main-color;
                    border-radius: 1.5rem; // Cambiado de 24px a rem
                    min-height: 15rem; // Mantenido
                    margin: 1rem; // Cambiado de 20px a rem
                    padding: 1.5rem 2rem; // Cambiado de 20px y 35px a rem
                    align-content: center;
                    transition: transform 0.3s;

                    img {
                        display: flex;
                        justify-items: center;
                        height: 15rem; // Cambiado de 250px a rem
                        width: 16.5rem; // Cambiado de 265px a rem
                        border-radius: 0.5rem; // Cambiado de 5px a rem
                    }

                    h3 {
                        color: $texto-color;
                        text-shadow: 0.125rem 0.125rem 0.25rem #000; // Cambiado a rem
                        font-size: 1.875rem; // Cambiado de 30px a rem
                        text-align: center;
                        margin: 0.625rem; // Cambiado de 10px a rem
                    }

                    h4 {
                        color: $texto-color-secundario;
                        text-shadow: 0.125rem 0.125rem 0.25rem #000; // Cambiado a rem
                        font-size: 1.5625rem; // Cambiado de 25px a rem
                    }

                    p {
                        color: $texto-color-secundario;
                        margin-top: 0.5rem; // Mantenido
                        font-size: 1.875rem; // Cambiado de 30px a rem
                        text-align: end;
                        text-shadow: 0.125rem 0.125rem 0.25rem #000; // Cambiado a rem
                    }
                }
            }
        }
    }
}
