//Import de Variables
@import "../utilidades/variables";
//Import de Mixin
@import "../utilidades/mixin";

//Estilos de Inicio
main{
    .index-main{
        justify-content: center;
        .contenedor-banner{
            margin: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            background-color: $main-color ;
            text-align: center;
            border-radius: 40px;
            border: 5px solid;
            img{
                width: 50%;
                height: 75%;
                align-content: center;
                margin: 0 90px;
                border: 10px solid $color-principal;
                display: flex;
                border-radius: 100%;
            }
            h1{
                color: $texto-color;
                margin-top: 15px;
                font-size: 27px;
                text-shadow: 2px 2px 4px #000;
            }
            h2{
                font-size: 20px;
                margin: 15px;
                color: $texto-color;
                text-shadow: 2px 2px 4px #000;
            }
            .redes{
                a{
                    color: whitesmoke;
                    text-decoration: none;
                    width: 40px;
                    height: 40px;
                    margin: 30px 15px;
                    font-size: 60px;
                    transition: .3s; 
                    &:hover{
                        color: $texto-color;
                        box-shadow: 0px 0px 0px 0px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
    .sobremi{
        background-color: $main-color;
        color: $texto-color;
        text-shadow: 2px 2px 4px #000;
        margin: 20px;
        padding: 20px;
        border-radius: 40px;
        .contenedor-section{
            max-width: 1500px;
            margin: auto;
            h2{
                font-size: 45px;
                text-align: center;
                padding: 20px 0;
            }
            p{
                color: $texto-color-secundario;
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 30px;
                span{
                    margin: 0 5px;
                    color: $texto-color-secundario;
                    font-weight: bold;
                }
            }
        }
        button{
            cursor: pointer;
            background-color: $color-principal;
            border: 3px solid #fff;
            width: fit-content;
            display: block;
            margin: 20px auto;
            padding: 10px 22px;
            font-size: 17px;
            color: $texto-color;
            position: relative;
            z-index: 10;
            &:hover{
                background-color: $texto-color-secundario;
                color: rgb(0, 0, 0);
                border: 3px solid #000000;
                box-shadow: 0px 0px 0px 0px;
                cursor: pointer;
                transition: all 0.3s;
            }
        }
    }
}