//Import de Variables
@import "../utilidades/variables"; 

// Mixin de Contatco

@mixin formContacto{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: $color-secundario;
    border-bottom: 1px solid $color-secundario;
}

@mixin flexContacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
}

//Mixin de Educacion

@mixin flexEducacion{
    display: flex;
    flex-direction: column;
}

//Mixim de tecnologia
@mixin flexTecnologia{
    display: flex;
    flex-direction: column;
}
